<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container">
    <a routerLink="home" class="navbar-brand">Amazon</a>

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a routerLink="about" class="nav-link">about</a>
        </li>
        <li class="nav-item">
          <a routerLink="contact" class="nav-link">contact</a>
        </li>
        <li class="nav-item">
          <a routerLink="login" class="nav-link">logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>